<div class="mt-5 container">
  <div class="card">
    <div class="card-header">
      <h4>Lista de Productos
        <a routerLink="/product/addProduct" class="btn btn-warning float-end"><i class="fa-solid fa-plus" style="margin-right: 8px;"></i>Agregar Producto</a>
      </h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="table-primary">
            <th >ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
              <td>
                <a href="/product/{{item.id}}/editProduct" class="btn btn-primary me-2"> <i class="fa-solid fa-pen-to-square" style="margin-right: 8px;"></i>Editar Producto</a>
                <button type="button"(click)="deleteProduct($event,item.id)"
                 class="btn btn-danger ">
                 <i class="fa-solid fa-trash"></i> Eliminar
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
