body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Permite el scroll si es necesario */
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ajusta la altura del contenedor según sea necesario */
    width: 100vw; /* 100% del ancho de la vista */
    text-align: center;
    position: relative; /* Posiciona el contenedor relativo al flujo normal del documento */
    background: url('../../../../assets/images/codesa.png') no-repeat center center; /* Imagen de fondo */
    background-size: contain; /* Ajusta la imagen para contenerse dentro del contenedor sin distorsión */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo si la imagen no cubre todo */
}

.home-container h4 {
    position: relative; /* Posiciona el texto sobre la imagen */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    color: white; /* Color del texto para contraste */
}

.home-container::before {
    content: '';
    position: absolute; /* Posiciona el pseudo-elemento de manera absoluta dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Asegura que el pseudo-elemento esté por debajo del texto */
}
